doctype html
html(ng-app="print-issues")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title Print Issues for Jira
        meta(name="viewport", content="width=device-width, initial-scale=1")
        //- link(rel="stylesheet", href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
        //- link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700,400italic")
        link(rel="stylesheet", href="css/main.css")
    body(ng-controller="AppCtrl")
        
        status.status
            .container

        section.hero
            h1.hero__tagline Turn your Jira issues<br>into physical, printable cards
            upload
            button.hero__help Where do I get this?

        section.layout.section
            .container
                h2.section__title 2. Select Layout
                .layout__row
                    button.layout__option.layout__option--one(ng-click="setLayout('one')", ng-class="{'is--selected': options.layout == 'one'}")
                        .layout__paper
                            .layout__card
                    button.layout__option.layout__option--four(ng-click="setLayout('four')", ng-class="{'is--selected': options.layout == 'four'}")
                        .layout__paper
                            .layout__card
                            .layout__card
                            .layout__card
                            .layout__card
                    button.layout__option.layout__option--six(ng-click="setLayout('six')", ng-class="{'is--selected': options.layout == 'six'}")
                        .layout__paper
                            .layout__card
                            .layout__card
                            .layout__card
                            .layout__card
                            .layout__card
                            .layout__card

        section.fields.section
            .container
                h2.section__title 3. Select Fields
                .fields__column
                    .card(square)
                        h2.card__title(ng-show="fields.issuekey.checked") 
                            span.editable(editable) {{ example.issuekey }}
                        p.card__assignee(ng-show="fields.assignee.checked") 
                            span.editable(editable) {{ example.assignee }}
                        p.card__priority(ng-show="fields.priority.checked") 
                            span.editable(editable) {{ example.priority }}
                        p.card__summary(ng-show="fields.summary.checked") 
                            span.editable(editable) {{ example.summary }}
                        //- p.card__item(ng-repeat="field in fields", ng-hide="field.default") {{ field  }}
                .fields__column
                    {{ fields }}
                    ul(dnd-list="fields")
                        li(ng-repeat="field in fields",
                            dnd-draggable="field",
                            dnd-moved="fields.splice($index, 1)",
                            dnd-effect-allowed="move",
                            dnd-selected="models.selected = field",
                            ng-class="{'selected': models.selected === field}") {{field.name}}
                    //- form.fields__form
                    //-     .checkbox(ng-repeat="field in fields", ng-hide="field.default")
                    //-         input(id="{{ field.id }}", ng-model="field.checked", type="checkbox", name="field", class="checkbox__input")
                    //-         label(for="{{ field.id }}", class="checkbox__label") {{ field.name }}
        section.generate.section
            .container
                p.generate__tagline All set?
                button.button.generate__button Generate Cards 

        footer.footer
            .container
 
        //- build:js(.) js/libs.js
        script(src="libs/jquery/dist/jquery.js")
        script(src="libs/lodash/lodash.js")
        script(src="libs/js-xlsx/dist/xlsx.full.min.js")
        script(src="libs/angular/angular.js")
        script(src="libs/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js")
        //- endbuild

        //- build:js(src) js/scripts.js
        script(src="js/app.js")
        script(src="js/directives.js")
        //- endbuild
